html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --font-family: "Karla", sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
}

body {
  background: var(--body-bg);
}

.container {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.button {
  border: none;
  font-size: 1.2rem;
  padding: 0.8rem 1.4rem;
  cursor: pointer;
  font-family: var(--font-family);
  background: var(--btn-bg);
  color: var(--btn-color);
  position: relative;
}

.button:hover,
.button:focus {
  color: var(--btn-color-hover);
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(
    115deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
  border-radius: inherit;
}

.button:hover::before,
.button:hover::after,
.button:focus::before,
.button:focus::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: linear-gradient(
    -115deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
  border-radius: inherit;
}
